html, body  {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wraper{
  height: 80vh;
}

#converter{
  margin-top: 5rem;
  margin-bottom: 8rem;
  border: solid;
}

.input{
  margin: 0.5rem;
}
.input > :first-child{
  width: 12rem;
}

.input > :last-child{
  width: 12rem;
}

