html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
  font-family: Arial, Helvetica, sans-serif;
  color: antiquewhite;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wraper {
  height: 80vh;
}

#converter {
  margin-top: 5rem;
  margin-bottom: 8rem;
  background-color: #362C87;
  padding: 1.5rem;
}

.input {
  margin: 0.5rem;
}

.btn {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#arrows {
  display: inline-block;
  transform: rotate(-90deg);
}

.output {
  font-size: large;
  font-weight: bolder;
}